In [1]:
import pandas as pd
import numpy as np

In [24]:
eligible_players = pd.read_pickle("./logs/Eligible_Players.pkl")
gamelogs = pd.read_pickle("./logs/All_2018-21_Gamelogs.pkl")
df = pd.merge(eligible_players,gamelogs, on=('PLAYER_ID','PLAYER_NAME'))

In [31]:
df.sort_values(['PLAYER_NAME','GAME_DATE'], inplace=True)
df

,PLAYER_NAME,PLAYER_ID,AGE,POSITION,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,...,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,PLAYOFFS,OPPONENT,OPPONENT_ID
52628,Aaron Gordon,203932,26.0,F,22018,1610612753,ORL,Orlando Magic,0021800006,2018-10-17,...,2,0,0,4,3,26,9,0,MIA,1610612748
52629,Aaron Gordon,203932,26.0,F,22018,1610612753,ORL,Orlando Magic,0021800017,2018-10-19,...,2,2,2,3,2,5,-5,0,CHA,1610612766
52630,Aaron Gordon,203932,26.0,F,22018,1610612753,ORL,Orlando Magic,0021800029,2018-10-20,...,3,1,3,4,3,20,12,0,PHI,1610612755
52631,Aaron Gordon,203932,26.0,F,22018,1610612753,ORL,Orlando Magic,0021800040,2018-10-22,...,3,0,0,2,2,13,-7,0,BOS,1610612738
52632,Aaron Gordon,203932,26.0,F,22018,1610612753,ORL,Orlando Magic,0021800064,2018-10-25,...,2,0,1,2,3,17,-6,0,POR,1610612757
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90808,Ziaire Williams,1630533,20.0,F,42021,1610612763,MEM,Memphis Grizzlies,0042100232,2022-05-03,...,1,0,0,0,3,14,8,1,GSW,1610612744
90809,Ziaire Williams,1630533,20.0,F,42021,1610612763,MEM,Memphis Grizzlies,0042100233,2022-05-07,...,1,0,0,0,3,7,-15,1,GSW,1610612744
90810,Ziaire Williams,1630533,20.0,F,42021,1610612763,MEM,Memphis Grizzlies,0042100234,2022-05-09,...,0,1,0,1,0,7,-10,1,GSW,1610612744
90811,Ziaire Williams,1630533,20.0,F,42021,1610612763,MEM,Memphis Grizzlies,0042100235,2022-05-11,...,2,1,0,1,2,11,-1,1,GSW,1610612744
90812,Ziaire Williams,1630533,20.0,F,42021,1610612763,MEM,Memphis Grizzlies,0042100236,2022-05-13,...,0,1,0,0,0,2,-7,1,GSW,1610612744

In [66]:
cutoffs = df.groupby(["SEASON_ID", "PLAYOFFS"]).agg({"GAME_DATE":["min","max"]})
cutoffs.columns = ['start', 'stop']
cutoffs.reset_index(inplace=True)

In [69]:
cutoffs.replace([0,1], ['Regular Season','Playoffs'])

  SEASON_ID        PLAYOFFS       start        stop
0     22018  Regular Season  2018-10-16  2019-04-10
1     22019  Regular Season  2019-10-22  2020-08-14
2     22020  Regular Season  2020-12-22  2021-05-16
3     22021  Regular Season  2021-10-19  2022-04-10
4     42018        Playoffs  2019-04-13  2019-06-13
5     42019        Playoffs  2020-08-17  2020-10-11
6     42020        Playoffs  2021-05-22  2021-07-20
7     42021        Playoffs  2022-04-16  2022-06-02

                         start        stop
SEASON_ID PLAYOFFS
22018     0         2018-10-16  2019-04-10
22019     0         2019-10-22  2020-08-14
22020     0         2020-12-22  2021-05-16
22021     0         2021-10-19  2022-04-10
42018     1         2019-04-13  2019-06-13
42019     1         2020-08-17  2020-10-11
42020     1         2021-05-22  2021-07-20
42021     1         2022-04-16  2022-06-02